@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Universal */

/* colour scheme */
/* #ff8200 */
/* #ffbf0d */
/* #32383f */
/* #434b55 */
/* rgba(0, 0, 0, 1); */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background: linear-gradient(135deg, #e0e0e0 25%, #c2c2c2 75%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(135deg, #b8b8b8 25%, #a4a4a4 75%);
}

/* Dropdowns */
.inner-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #32383fc9;
  width: 90%;
  margin-bottom: 2rem;
  padding: 1rem;
}
.dropdown-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
  border-radius: 8px;
}

.filter-title {
  color: #ffffff;
  text-align: center;
}

.filter select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background-color: #ffffff;
  color: #32383f;
  border: 1px solid #ff8200;
  border-radius: 4px;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ff8200;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #ffbf0d;
}

.red {
  background-color: #f44336;
}

/* Info */

.wheelbearing-info {
  display: flex;
  align-items: stretch; /* Align items to stretch to the container height */
  width: 75%;
  margin-bottom: 3rem;
  height: 250px; /* Set a fixed height for the container */
  gap: 0;
}

.home-img-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the image within the image container */
  height: 100%; /* Full height of the parent container */
}

.home-img {
  max-height: 100%; /* Image will fill the height of its container */
  object-fit: contain; /* Image will be scaled to maintain its aspect ratio */
}

.home-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #32383fc9;
  padding: 1rem;
  height: 100%; /* Full height of the parent container */
}

/* Adjustments for responsive design */
@media (max-width: 768px) {
  .wheelbearing-info {
    flex-direction: column;
    height: auto; /* Allow the height to grow as needed */
  }

  .home-img-container,
  .home-info {
    padding: 0; /* Remove padding for smaller screens */
    height: auto; /* Allow the height to grow as needed */
  }

  .home-img {
    width: 100%; /* Image takes full width of the container */
    height: auto; /* Height grows as needed */
  }
}
