.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  padding: 20px;
  gap: 2rem;
  background-color: transparent;
}

.filter-section {
  background-color: #32383fc9;
  padding: 20px;
  color: white;
  margin-top: 5px;
  height: 600px;
}

.selected-filters-display {
  background-color: #32383fc9;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
  color: white;
}

.filter-tag {
  display: inline-block;
  background-color: #ff8200;
  color: white;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.filter-tag:hover {
  background-color: #e56e00;
}

.card {
  display: flex; /* Use flex layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Distribute space evenly */
  align-items: center; /* Center items horizontally */
  padding: 20px;
  margin: 5px;
  max-width: 30%;
  overflow: hidden;
  font-size: 18px;
  height: auto; /* Make height flexible */
  min-height: 550px; /* Minimum height to maintain consistency */
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.part-number,
.bearing-size {
  color: #32383f;
  text-align: center;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buy-button {
  align-self: center;
  background-color: #ff8200;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #e67e22;
}

@media (max-width: 768px) {
  .content-container {
    grid-template-columns: 1fr; /* Stacks filter section and cards vertically */
    gap: 1rem; /* Adjust gap as needed */
  }

  .content-container .card-container .card {
    width: 100%; /* Ensures card takes full container width */
    flex-basis: auto; /* Resets any previously set flex-basis */
    max-width: none; /* Overrides the max-width set outside the media query */
    margin: 10px 0; /* Adjusts margin for better spacing */
  }

  .filter-section {
    height: auto; /* Allows the filter section to expand as needed */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .selected-filters-display {
    flex-direction: column; /* Stacks filter tags vertically */
    gap: 1rem; /* Adjust gap for smaller screens */
  }

  .card-container {
    justify-content: center; /* Centers cards within the container */
  }
}

@media (max-width: 480px) {
  .filter-section,
  .selected-filters-display,
  .card-container {
    padding: 5px; /* Reduces padding around these elements */
  }

  .content-container .card-container .card {
    margin: 5px 0; /* Slightly smaller margin for very small devices */
  }
}
