.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-info {
  margin-bottom: 30px;
  list-style-type: none; /* This removes the bullet points */
  padding-left: 0; /* This removes any left padding applied by default */
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #32383f;
  overflow: hidden;
}

.modal-body {
  display: flex;
  gap: 20px;
}

.modal-image {
  margin-right: 20px;
  max-width: 50%;
}

.modal-category {
  font-weight: bold;
}
.text-content {
  font-size: 14px;
}
.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.buy-now-button,
.back-to-menu-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.back-to-menu-button {
  background-color: #6c757d;
  color: white;
}

.name {
  font-size: 1.5rem;
}
