.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
  max-width: 30%;
  overflow: hidden;
  font-size: 18px;
  height: auto;
  min-height: 550px;
  background-color: #f0f0f0;
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center aligns the text within the card */
  margin: 0; /* Remove any external margins */
  padding: 0; /* Remove any internal padding */
}

.part-number,
.bearing-size {
  text-align: center;
  color: #32383f;
  line-height: 1; /* Reduce the line-height to bring text closer */
  margin: 0; /* Remove any margin between these elements */
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0; /* Eliminate unnecessary margins here */
}
.buy-button {
  align-self: center;
  background-color: #ff8200;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.buy-button:hover {
  background-color: #e67e22;
}
