.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
  max-width: 20%;
  overflow: hidden;
  font-size: 20px; /* Increased font size */
  line-height: 1.5; /* Increased line spacing */
  height: auto;
  min-height: 550px;
  background-color: #f0f0f0;
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.part-number,
.bearing-size {
  text-align: center;
  color: #32383f;
  margin: 5px 0; /* Add spacing between text elements */
}

.buy-button {
  align-self: center;
  background-color: #ff8200;
  color: white;
  border: none;
  padding: 10px 20px; /* Increased button padding */
  border-radius: 4px;
  font-size: 16px; /* Adjusted button text size */
  cursor: pointer;
}

.buy-button:hover {
  background-color: #e67e22;
}
