.skf-search-input,
.skf-search-button {
  font-size: 16px;
  padding: 10px 12px;
  height: 40px;
}

.skf-search-input {
  background-color: #ffffff;
  color: #32383f;
  border: 1px solid #ff8200;
  border-radius: 4px;
  width: 220px;
  margin-right: 0.5rem;
}

.skf-search-button {
  background-color: #ff8200;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
}

.skf-search-input:focus {
  outline: none;
  border-color: #ffbf0d;
  box-shadow: 0 0 0 2px rgba(255, 190, 13, 0.5);
}

.skf-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  width: auto;
  background-color: transparent;
}
