.skf-search-input,
.skf-search-button {
  font-size: 16px; /* Increased font size for better readability */
  padding: 10px 12px; /* Increased padding for a larger appearance */
  height: 40px; /* Ensure both input and button have the same height */
}

.skf-search-input {
  background-color: #ffffff;
  color: #32383f;
  border: 1px solid #ff8200;
  border-radius: 4px;
  width: calc(
    100% - 24px - 1px * 2
  ); /* Adjust width to account for padding and border */
  margin-right: 0.5rem; /* Ensure some space between the input and the button */
}

.skf-search-button {
  background-color: #ff8200;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap; /* Prevents text from wrapping */
}

/* Focus state for input to maintain consistency */
.skf-search-input:focus {
  outline: none;
  border-color: #ffbf0d;
  box-shadow: 0 0 0 2px rgba(255, 190, 13, 0.5);
}

.skf-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem; /* Adjust the gap as necessary */
  width: auto; /* Adjust based on layout requirements */
  background-color: transparent; /* Optional, based on design preference */
}
