@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.navbar {
  background: linear-gradient(to right, #ffbf0d, #ff8200, #e67e22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%; /* Center the logo vertically */
  transform: translate(
    -50%,
    -50%
  ); /* Adjust for both horizontal and vertical centering */
  height: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("./assets/wheelbearings-draft-background.webp") no-repeat
    center center;
  background-size: cover;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100vh;
}

.inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 30%;
  background-color: rgba(67, 75, 85, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.filter select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #ffffff;
  color: #32383f;
  border: 1px solid #ff8200;
  border-radius: 4px;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ff8200;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
}

.button:hover {
  background-color: #ffbf0d;
}

.red {
  background-color: #f44336;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #32383f;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #434b55;
  color: #ddd;
}

.table tr:nth-child(even) {
  background-color: #ffffff;
}

.table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.footer {
  background-color: #32383f;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  z-index: 2;
}

.footer {
  background-color: #32383f;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  z-index: 2;
}

/* Card.css */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 8px;
  width: 18%;
}

.card-logo {
  margin-bottom: 8px;
}
.logo {
  width: 20%;
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-info {
  text-align: center;
}

.model-desc {
  color: #32383f;
}

.product-name {
  font-weight: bold;
  color: #32383f;
}

.description,
.price,
.position {
  font-size: 0.9rem;
  color: #32383f;
}

/* CardContainer.css */
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.buy-button {
  background-color: #ff8200;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #e67e22;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-info {
  margin-bottom: 30px;
}

.modal-content {
  max-width: 50%; /* Adjusted for better control over layout */
  height: 50%;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: row; /* Changed to row for side-by-side layout */
  align-items: center;
  color: #32383f;
  overflow: hidden;
}

.modal-body {
  display: flex;
  gap: 20px;
}

.modal-image {
  max-width: 50%; 
  margin-right: 20px;
}
.modal-category {
  font-weight: bold;
}
.text-content {
  font-size: 16px;
}
.modal-buttons {
  display: flex;
  justify-content: space-around; 
  margin-top: 20px;
}

.buy-now-button,
.back-to-menu-button {
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  outline: none; 
  font-size: 16px;
}

.buy-now-button {
  background-color: #ff8200; 
  color: white; 
}

.back-to-menu-button {
  background-color: #6c757d; 
  color: white; 
}

.name {
  font-size: 1.5rem;
}

/* colour scheme */
/* #ff8200 */
/* #ffbf0d */
/* #32383f */
/* #434b55 */
/* rgba(0, 0, 0, 1); */
