@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background: linear-gradient(135deg, #e0e0e0 25%, #c2c2c2 75%);
}

.navbar {
  background: linear-gradient(to right, #ffbf0d, #ff8200, #e67e22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(135deg, #b8b8b8 25%, #a4a4a4 75%);
}

.wheelbearing-info {
  display: flex;
  width: 75%;
  margin-bottom: 3rem;
}

.home-img {
  width: 100%;
}

.home-info {
  background-color: #32383fc9;
  padding: 2rem;
  height: 317px;
}

.home-info h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.inner-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #32383fc9;
  width: 80%;
  margin-bottom: 2rem;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
  border-radius: 8px;
}
.filter-title {
  color: #ffffff;
  text-align: center;
}

.footer {
  background-color: #32383fc9;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
}

.footer-section {
  flex: 1;
}

.top-button {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.top-button:hover {
  background-color: #ffffff;
  color: #32383f;
}

.footer-bottom {
  border-top: 1px solid #fff;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}

.filter select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  background-color: #ffffff;
  color: #32383f;
  border: 1px solid #ff8200;
  border-radius: 4px;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ff8200;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #ffbf0d;
}

.red {
  background-color: #f44336;
}
.filtered-results {
  overflow-x: auto;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #32383f;
}

.table th,
.table td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #434b55;
  color: #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
  background-color: #ffffff;
}

.table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Card.css */
.card {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin: 8px;
  max-width: 45%;
  overflow: hidden;
  font-size: 18px;
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content if not already */
  padding: 16px; /* Adjust padding as needed */
}

.part-number,
.bearing-size {
  color: #32383f; /* Adjust text color as needed */
  text-align: center; /* Center-align the text */
  margin: 8px 0; /* Add some space around */
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .card-details {
  display: flex;
  gap: 1.2rem;
}

.card-column {
  display: flex;
  flex-direction: column;
  padding: 0 6px;
}

.card-column p {
  margin-bottom: 12px;
} */

/* .model-desc {
  color: #32383f;
  font-size: 1.2rem;
  font-weight: bold;
}

.product-name {
  margin-top: 0;
  font-weight: bold;
  color: #32383f;
}

.description,
.price,
.position {
  font-size: 1rem;
  color: #32383f;
} */

.buy-button {
  align-self: center;
  background-color: #ff8200;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #e67e22;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-info {
  margin-bottom: 30px;
}

.modal-content {
  max-width: 50%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #32383f;
  overflow: hidden;
}

.modal-body {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal-image {
  max-width: 50%;
  margin-right: 20px;
  height: 50%;
}
.modal-category {
  font-weight: bold;
}
.text-content {
  font-size: 16px;
}
.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.buy-now-button,
.back-to-menu-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.buy-now-button {
  background-color: #ff8200;
  color: white;
}

.back-to-menu-button {
  background-color: #6c757d;
  color: white;
}

.name {
  font-size: 1.5rem;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.content-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  background: linear-gradient(135deg, #e0e0e0 25%, #c2c2c2 75%);
  padding: 20px;
}

.filter-section {
  background-color: #32383fc9;
  padding: 20px;
  color: white;
  margin-top: 5px;
  height: 700px;
}

/* colour scheme */
/* #ff8200 */
/* #ffbf0d */
/* #32383f */
/* #434b55 */
/* rgba(0, 0, 0, 1); */
